<div class="main" style="background-image: url({{cover}});">
    <div class="cover">
        <!-- <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid container">
              <a class="navbar-brand" routerLink="">Flames</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-center " id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/gallery">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav> -->

          <nav class="navbar navbar-expand-lg bg-body-tertiary text-align-center">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="">Flames</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/gallery">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <div class="title">
            <h1>//PORTFOLIO</h1>
        </div>  

        <div class="container projects">
            <div class="site1 site">
                <div class="s1">
                    <div class="line"></div>
                    <div class="sitename"><a href="https://dast.tech">DIGITAL ACCESS SECURITY TOKEN (DAST)</a></div> 
                </div>
                <div class="description">
                    <p> <a href="https://dast.tech">Digital Access Security Token</a>  is a blockchain project that is aimed at safeguarding <br>
                        digital assets for individuals incase of unforseen circumstances such as death, sickness etc.
                    </p>
                    <p>Technologies used;</p>
                    <ul>
                        <li>Angular</li>
                        <li>Bootstrap</li>
                    </ul>
                    <span>Visit <a href="http://dast.tech">dast.tech</a></span>
                </div>
                <div class="1a">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{home}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{about}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{account}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{why}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    <!-- <iframe src="https://dast.tech/" frameborder="0"></iframe> -->
                </div>
                <div class="source">
                  <a href="http://dast.tech"></a> <button src="http://dast.tech">Live site</button> 
                  <a href="" target="_blank"><button >View Code</button></a>
                </div>
            </div>
<br> 
            <div class="site2 site">
              <div class="s1">
                  <div class="line"></div>
                  <div class="sitename"><a href="">ROBO FRIENDS</a></div>
              </div>
              
              <div class="description">
                  <p>This app was created using react.js, with the search button you can search for its content and get fast results while typing without clicking on a search button.</p>
                  <p>Technologies used;</p>
                  <ul>
                      <li>React</li>
                      <li>API</li>
                  </ul>
              </div>
                <div class="1a">
                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{{robo1}}" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                            <!-- <p>Some representative placeholder content for the first slide.</p> -->
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{{robo2}}" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <!-- <p>Some representative placeholder content for the second slide.</p> -->
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{{robo2}}" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <!-- <p>Some representative placeholder content for the third slide.</p> -->
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{{robo3}}" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <!-- <p>Some representative placeholder content for the third slide.</p> -->
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  <!-- <iframe src="https://dast.tech/" frameborder="0"></iframe> -->
              </div>
              <div class="source">
                <a href="https://shalomflames.github.io/Robofriends/"><button src="https://shalomflames.github.io/Robofriends/">Live site</button></a>  
                <a href="https://github.com/shalomflames/Robofriends" target="_blank"><button src="https://github.com/shalomflames/Robofriends" >View Code</button></a>
              </div>
            </div>
<br>  
            <div class="site2 site">
                <div class="s1">
                    <div class="line"></div>
                    <div class="sitename"><a href="">REAL ESTATE APPLICATION</a></div>
                </div>
                
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, molestiae!</p>
                    <p>Technologies used;</p>
                    <ul>
                        <li>Next.Js</li>
                        <li>API</li>
                    </ul>
                </div>
                  <div class="1a">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{real1}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{real2}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{real1}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{real2}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    <!-- <iframe src="https://dast.tech/" frameborder="0"></iframe> -->
                </div>
                <div class="source">
                  <a href="https://realtor.vercel.app/"><button src="https://realtor.vercel.app/">Live site</button></a>  
                  <a href="https://github.com/shalomflames/projects_realestate" target="_blank"><button src="https://github.com/shalomflames/Real-Estate-App" >View Code</button></a>
                </div>
            </div>
<br>  
            <div class="site3 site">
                <div class="s1">
                    <div class="line"></div>
                    <div class="sitename"><a href="">DIGITAJULIA</a></div>
                </div>
                
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, molestiae!</p>
                    <p>Technologies used;</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>JQUERY</li>
                    </ul>
                </div>
                  <div class="1a">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{julia1}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{julia2}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{julia3}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="source">
                  <!-- <button src="https://shalomflames.github.io/DIGITAJULIA/">Live site</button> -->
                  <a href="https://shalomflames.github.io/DIGITAJULIA/" target="_blank"><button src="https://shalomflames.github.io/DIGITAJULIA/" >Live Site</button></a>
                  <a href="https://github.com/shalomflames/DIGITAJULIA" target="_blank"><button src="https://github.com/shalomflames/DIGITAJULIA" >View Code</button></a>
                </div>
            </div>
<br>
            <!-- <div class="site3 site">
                <div class="s1">
                    <div class="line"></div>
                    <div class="sitename"><a href="">CARTWRIGHT </a> </div>
                </div>
                
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, molestiae!</p>
                    <p>Technologies used;</p>
                    <ul>
                        <li>ANGULAR</li>
                        <li>BOOTSTRAP</li>
                    </ul>
                </div>
                <div class="1a">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div> -->
        </div>
        

    </div>
</div>