<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="main" style="background-image: url({{cover}});"> 
    <div class="bg"></div>
    <div class="content">    
        <div class="cover">
            <div class="socials">
                <div class="social-icons"><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></div>
                <div class="social-icons"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></div>
                <div class="social-icons"><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></div>
                <div class="social-icons"><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></div>
                <div class="social-icons"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></div>
            </div>
            <div class="intro">
                <h1>Hi, My name is Shalom</h1>
                <h1>I'm a WEB DEVELOPER</h1> <br>
                <div class="cv"><a href="">Hire Me</a> </div> <br>
                <div class="cv"><a href="/assets/files/Resume-Shalom.pdf" download="Resume-Shalom.pdf"> Download Resume</a></div>
                
            </div> 
    <div class="music"><audio src="/assets/files/song.mp3" autoplay></audio></div>
        
            <div class="navigate">
                <div class="portfolio" routerLink="/portfolio">PORTFOLIO</div>
                <div class="gallery" routerLink="/gallery">GALLERY</div>
                <div class="about" routerLink="/about">ABOUT</div>
            </div>
        </div>
    </div>
    <div class="whatsapp"></div>
</div>